@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-cyan: rgb(139, 179, 255);
    --color-blue: rgb(35, 79, 161);
    --color-darkblue: rgb(14, 17, 26);
    --color-darkblue2: rgb(20, 24, 36);
    --color-black: rgb(11, 11, 11);
    --color-red: rgb(189, 20, 20);
    --color-grey: rgb(170, 170, 170);
    --color-offWhite: rgb(244, 244, 244);
    --color-beige: rgb(226, 226, 233);
    --color-white: rgb(255, 255, 255);
    --color-salmon: rgb(230, 113, 113);
    --color-darkgrey: rgb(27, 27, 27);
    --color-lightgrey: rgb(230, 230, 230);
    --color-pink: rgb(247, 209, 235);
    --color-yellow: rgb(253, 201, 104);

    --color-fg: var(--color-black);
    --color-bg: var(--color-lightgrey);
    --color-bg-header: rgba(245, 245, 245, 0.1);
    --color-bg-nav: var(--color-beige);
    --color-bg-footer: var(--color-black);

    --gutter: 2rem;
    --gutter-xs: calc(var(--gutter) / 2);
    --gutter-xl: calc(var(--gutter) * 2);

    --desktop: 1380px;
    --laptop: 1024px;
    --tablet: 768px;
    --mobile: 520px;

    --radius: 6px;

    --path-img: "/images/";
    --path-font: "/font/";
  }

  .dark {
    --color-fg: var(--color-offWhite);
    --color-bg: var(--color-darkblue);
    --color-bg-header: rgba(11, 11, 11, 0.1);
    --color-bg-nav: rgba(245, 245, 245, 0.2);
    --color-bg-footer: var(--color-darkblue);
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
