@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-blue: rgb(54, 105, 232);
    --color-bluelight: rgb(147, 178, 234);
    --color-deepblue: rgb(43, 50, 60);
    --color-deepbluelight: rgb(60, 66, 84);
    --color-black: rgb(11, 11, 11);
    --color-mint: rgb(226, 252, 243);
    --color-green: rgb(43, 139, 105);
    --color-orange: rgb(240, 70, 18);
    --color-orangelight: rgb(243, 100, 57);

    --gutter: 2rem;
    --gutter-xs: calc(var(--gutter) / 2);
    --gutter-xl: calc(var(--gutter) * 2);

    --desktop: 1380px;
    --laptop: 1024px;
    --tablet: 768px;
    --mobile: 520px;

    --radius: 6px;

    --path-img: "/images/";
    --path-font: "/font/";
  }

  .dark {
    --color-fg: var(--color-offWhite);
    --color-bg: var(--color-darkblue);
    --color-bg-header: rgba(11, 11, 11, 0.1);
    --color-bg-nav: rgba(245, 245, 245, 0.2);
    --color-bg-footer: var(--color-darkblue);
  }
  
  h1, h2, h3 {
    @apply font-title;
  }
  
  
}



@layer base {
  * {
    scroll-behavior: smooth;
    line-height: 1.4;
  }
  /*ul {
    margin-top: 8px;
  }
  li {
    padding: 5px 0 0 16px;
    position: relative;
    &::before {
      content: "•";
      color: var(--color-cyan);
      position: absolute;
      top: 4px;
      left: 0;
    }
  }*/
  /** {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }*/
}
